@import 'tailwindcss';
@import './tailwind-vars.css';

@theme {
    --color-bg: #ffffff;
    --color-text: #000000;
}

html,
body,
#root {
    min-height: 100vh;
}

@variant dark (&:where(.dark, .dark *));
h1 {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}



/*background: linear-gradient(135deg, rgba(99, 102, 241, 0.8) 0%, rgba(168, 85, 247, 0.8) 100%);*/
